/*FONTS*/

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,600|Open+Sans:400,600&display=swap');

* {
    font-family: 'Josefin Sans', sans-serif; /*Замість шрифта Proxima Nova*/
    font-family: 'Open Sans', sans-serif;
}
/*FONTS*/

/* Шапка 1-й блок*/

.first_block {
    background-image: url("images/background.png");
    background-size: cover;
    background-position: 100%; /*вирівнює бекграунд*/
}

.first_block > div {
    padding-top: 430px; /*ВІДСТУПИ БЛОКА*/
    padding-bottom: 200px; /*ВІДСТУПИ БЛОКА*/
}
.header_text {
    color: #2a4965;
    font-size: 3.5rem;
    font-family: 'Open Sans', sans-serif;
}
/*ТРЕБА ЗАБРАТИ ВІДСТУПИ МІЖ ЗАГОЛОВКАМИ*/
.subtitle {
    color: #596670;
    font-size: 2.8rem;
    font-family: 'Open Sans', sans-serif;
}
.first_block_text {
    font-family: 'Josefin Sans', sans-serif;
    color: #3a3a3a;
    margin: 5rem 0 5rem;
}
.block {
    margin-right: -15px;
    margin-left: -15px;
}

.button {
    width: 10rem;
    height: 2.5rem;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    background: transparent;
    border: none;
    color: #596670;
}
.button:hover {
    color: #2a4965;
    border: 2px solid #2a4965;
}
